body{
    background-color: rgb(252, 242, 230);
}

#h_1{
    font-family: 'Lobster';
    text-align: center;
    background-color: rgb(255, 254, 205);
    width:40%;
    margin-left:30%;
    margin-top:1%;
    color: red;
}

#h_2{
    font-family: 'Quintessential', cursive;
    text-align: center;
    color: rgb(0, 0, 0);
    background-color:chartreuse;
    width:40%;
    margin-left:30%;
    border: black 3px solid;
    border-radius:10%;
}

#bun_1{
    font-family: 'Pacifico', cursive;
    color: rgb(43, 255, 0);
    font-weight: bold;
    margin-left:2%;
    letter-spacing:5%;
    font-size:130%;
}

#bun_2{
    font-family: 'Pacifico', cursive;
    color: rgb(0, 255, 255);
    font-weight: bold;
    margin-left:1%;
    letter-spacing:5%;
    font-size:130%; 
}

#lab_1{
    font-family: 'Abril Fatface', cursive;
    font-size:150%;
    text-align: center;
    margin-left:3%;
}

#frame_name{
    width:15%;
    margin-top:-3%;
    margin-left:30%;
}

#color_name{
    width:15%;
    margin-top:-2.5%;
    margin-left:60%;
}

footer{
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    color: rgb(255, 0, 0);
    background-color: rgb(0, 119, 255);
    font-size:200%;
    text-shadow: rgb(72, 255, 0) 3px 3px;
    font-family: 'Anton', sans-serif;
}